In [8]:
#import pandas
import pandas as pd

In [9]:
# a list of my grades:
my_grades = ['B', 'C', 'B' , 'D']

In [10]:


#convert my grades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [13]:
my_grades.map({"B":"A", "C":"B", "D":"C"})

0    A
1    B
2    A
3    C
dtype: object

In [26]:
# Using the format() function.
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [27]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object