In [1]:
#import panda dependency
import pandas as pd

In [2]:
#files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
#Read the school data file and store it in a panda dataframe
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
#read student data file and store it in panda dataframes
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#determine if there are missing values in schoold data
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
#determine if there are missing values in student data
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
#determine if there are any missing values in school data
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [8]:
#determine if there are any missing values in student data
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [9]:
#determine not null for schools
school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [10]:
#determine not null for students
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [11]:
#4.5.3

In [12]:
#determine the data type for the column budget
school_data_df.budget.dtype

dtype('int64')

In [13]:
#determine the data type for the student data
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [14]:
#Clean the students names

#put the student names into a list
student_names = student_data_df["student_name"].tolist()

#creat a new list to hold the students names that have 3+ 'words'
students_to_fix = []

#use an if statement to add names to the list if they have 3+ words
for name in student_names:
    if len(name.split()) >=3:
        students_to_fix.append(name)


#create a list of the prefixes from those students that have 3+ names
#create an empty list to hold the prefixes
prefixes = []

#cycle through the names in the newly created list only and if the first element has more for or less letters, add it to the list
#only add the prefix to the list, not the whole name!
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

#Do the same thing for suffix
#only look for where there are 3 letters because all the prefixes only have those
suffixes = []

for name in students_to_fix:
    if len(name.split()[-1]) <=3:
        suffixes.append(name.split()[-1])

In [15]:
#print the list of unique prefixes
print(set(prefixes))

{'Lisa', 'Todd', 'Joe', 'Ryan', 'Lori', 'Dawn', 'Mr.', 'Kari', 'Kara', 'Omar', 'Mary', 'John', 'Luke', 'Sean', 'Gail', 'Erik', 'Cody', 'Jose', 'Adam', 'Carl', 'Ruth', 'Judy', 'Dale', 'Dr.', 'Tony', 'Emma', 'Chad', 'Troy', 'Erin', 'Gary', 'Jodi', 'Noah', 'Toni', 'Amy', 'Tina', 'Marc', 'Cory', 'Sara', 'Dana', 'Eric', 'Kyle', 'Jon', 'Leah', 'Kim', 'Ian', 'Ms.', 'Mike', 'Paul', 'Gina', 'Seth', 'Mrs.', 'Miss', 'Mark', 'Anne', 'Greg', 'Tara', 'Jill', 'Lynn', 'Anna'}

In [16]:
#print the list of unique suffixes
print(set(suffixes))

{'MD', 'DVM', 'Roy', 'Kim', 'PhD', 'IV', 'Li', 'Day', 'Cox', 'DDS', 'III', 'Jr.', 'Lee', 'V', 'II'}

In [17]:
#hard code the prefixes and suffixes in based on the list
#add the spaces after the pre and before the suff
pre_suff = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [18]:
#clean the student data to remove the pre and suffix words
for word in pre_suff:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")
    
student_data_df.head(10)

C:\Users\julia\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [19]:
#4.7.1 Merge Dataframes
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
#4.7.2:count the number of students

student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [21]:
#4.7.3: count the number of schools
#count the number of schools with the original data set
school_count = school_data_df["school_name"].count()
print(school_count)

#count the number of schools with the joined data set
school_count2 = len(school_data_complete_df["school_name"].unique())
print(school_count2)

15
15

In [22]:
#4.7.4: get the total budget
#can't calculate the budget on the joined data set - would add budget for each student

#calculate total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [23]:
#4.7.5  Get the average scores
#get the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [24]:
#4.7.5  Get the average scores
#get the average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [25]:
#4.7.6 Get the passing percentages
#get the passing grades for math

passing_math = school_data_complete_df[school_data_complete_df["math_score"] >=70]
passing_math_count = passing_math["student_name"].count()

In [26]:
#4.7.6 Get the passing percentages
#get the passing grades for reading

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]
passing_reading_count = passing_reading["student_name"].count()

In [27]:
#4.7.6: print passing math and reading
print(passing_math_count)
print(passing_reading_count)

29370
33610

In [28]:
# 4.7.6: get % of students who passed reading
#variable student_count already gives us the total number of students

#calculate the percent who passed math
passing_math_percentage = passing_math_count/float(student_count) *100

#calculate the percent who passed reading
passing_reading_percentage = passing_reading_count/float(student_count)*100

print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [29]:
# 4.7.6: get % of students who passed both
#reuse the code, but add the & clause

passing_both = school_data_complete_df[(school_data_complete_df["math_score"]>=70) & (school_data_complete_df["reading_score"]>=70)]
# passing_both.head()
overall_pass_both = passing_both["student_name"].count()
overall_pass_both

25528

In [30]:
# 4.7.6: get percentages
# calculate the overall pass percentage
overall_passing_percentage = overall_pass_both/student_count*100
overall_passing_percentage

65.17232575950983

In [31]:
#4.7.7 Create a district summary data fram
#creating a new datafram means we need to create a list of dictionaries
# list of dictionaries is then converted into DF

district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
        "Total Students": int(student_count),
        "Total Budget": int(total_budget),
        "Average Math Score": average_math_score,
        "Average Reading Score": average_reading_score,
        "% Passing Math": passing_math_percentage,
        "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [32]:
#format the total students to have a thousands separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [33]:
district_summary_df.dtypes

Total Schools              int64
Total Students            object
Total Budget               int64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [34]:
#format Total Budget to have the comma for a thousands separator, a decimal and dollar sign

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [35]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [36]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [37]:
#4.7.9 reorder columns
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [38]:
# 4.8.1: set index as the school name & determine school type

per_school_types = school_data_df.set_index(["school_name"])["type"]
# per_school_types

In [39]:
#4.8.1: convert the series into a dataframe
per_school_Data_df = pd.DataFrame(per_school_types)
# df

In [40]:
#4.8.2 find the total student count with school as index
# re-use the school_data_df data
#size is # of students
#create new series
per_school_counts = school_data_df["size"]
# per_school_counts

In [41]:
#set the school name as the index for the new series being created.  
# solves from the above
#re-uses per-school counts series but chages the index using .set_index
per_school_counts = school_data_df.set_index(["school_name"])["size"]
# per_school_counts

In [42]:
#4.8.2 use the school_data_complete_df to get the # of student
#count the # of times a high school appears using value_counts()
per_school_counts = school_data_complete_df["school_name"].value_counts()
# per_school_counts

In [43]:
#4.8.3 for each school, get the budget per student
# divide the budget for each school by the # of students
#use the set_index to get the budget for each school

per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [44]:
#4.8.3
# calculate the per capita spending

per_school_capita = per_school_budget/per_school_counts
per_school_capita
# this works because they are  both series that have the same index!

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [45]:
#4.8.4
#get the math averages per school
#reminder to use mean()
per_school_averages_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_averages_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [46]:
#4.8.4
#get the reading averages per school
#reminder to use mean()
per_school_averages_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_averages_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [54]:
#4.8.5: get the passing percentages per school
#we've already calculated using the passing_math and passing_reading variables
#we can use the same code but give new variables
#calculate the passing score by creating a filtered datafram.

per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >=70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [55]:
#4.8.3 to get the school name as the index, use the group by
#calculate the # of students who passed MATH by school
# operation is count(), b/c we want to see how many  studentes per school

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [56]:
#4.8.3 to get the school name as the index, use the group by
#calculate the # of students who passed READING by school
# operation is count(), b/c we want to see how many  studentes per school

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [57]:
#determin the % of studnets passing math and reading

per_school_passing_math_per = (per_school_passing_math / per_school_counts) *100
per_school_passing_reading_per= per_school_passing_reading / per_school_counts * 100

print(per_school_passing_math_per)
print(per_school_passing_reading_per)
print(per_school_counts)

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [66]:
#4.8.5 calculate the overall pass percentages

# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [65]:
#set the school name as index and group by that to count studetns

per_passing_math_reading_count = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading_count

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [68]:
#calculate the % of students who passed both math and reading
per_overall_passing_percentage = per_passing_math_reading_count/per_school_counts*100
per_overall_passing_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [70]:
#4.8.6: create new dataframe to hold all of the per-school information 
#add a list of values with keys to create new dataframes

per_school_summary_df = pd.DataFrame ({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_averages_math,
    "Average Reading Score": per_school_averages_reading,
    "% Passing Math" : per_school_passing_math_per,
    "% Passing Reading": per_school_passing_reading_per,
    "% Overall Passing": per_overall_passing_percentage})

per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [74]:
#clean up the dataframe
#format the budget and budget per student

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

#distplay dataframe
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [ ]:
#git start at 4.9.1